@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 86 17% 88%;
    --foreground: 224 71.4% 4.1%;
    --card: 86 17% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 86 17% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 181 49% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 20% 80%;
    --secondary-foreground: 181 49% 20%;
    --muted: 181 20% 90%;
    --muted-foreground: 224 71.4% 40%;
    --accent: 150 56% 57%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 181 20% 75%;
    --input: 181 20% 85%;
    --ring: 181 49% 43%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 10% 8%;
    --foreground: 0 0% 98%;
    --card: 180 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 180 10% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 181 49% 53%;
    --primary-foreground: 180 10% 5%;
    --secondary: 180 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 10% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 150 56% 57%;
    --accent-foreground: 180 10% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 20%;
    --input: 180 10% 20%;
    --ring: 181 49% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
